# Задачи по Python

### Задача 1
Cохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [13]:
age=35
name='Timur'
age
name

'Timur'

### Задача 2
Создайте произвольный список

In [8]:
spisok=[1,2,3,4]
spisok

[1, 2, 3, 4]

### Задача 3
Добавьте новый элемент типа str в конец списка

In [24]:
spisok.append(5)
spisok

[1, 2, 3, 4, 5]

### Задача 4
Добавьте новый элемент типа int на место с индексом

In [25]:
spisok.insert(5,6)
spisok

[1, 2, 3, 4, 5, 6]

### Задача 5
Добавьте новый элемент типа list в конец списка

In [30]:
spisok.append(list('789'))
spisok
spisok.extend('9')
spisok

[1, 2, 3, 4, 5, 6, ['7', '8', '9'], ['7', '8', '9'], '9']

### Задача 6
Получите элемент по индексу

In [31]:
spisok[1]

2

### Задача 7
Получите элемент по индексу

In [47]:
spisok.count(6)

1

### Задача 8
Создайте произвольный словарь

In [37]:
slovar={'a':1,'b':2,'c':3,1:4,2:5,3:6}
slovar

{'a': 1, 'b': 2, 'c': 3, 1: 4, 2: 5, 3: 6}

### Задача 9
Получите значение словаря по произвольному ключу

In [43]:
slovar.get('a')

1

### Задача 10
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [62]:
a=[1,1,2,3,5,8,13,21,34,55,89]
i=0
while a[i]<5:
    print(a[i])
    i+=1

1
1
2
3

# Задачи по Pandas

### Задача 1
Сделайте импорт библиотеки Pandas

In [1]:
import pandas as pd

### Задача 2
Создайте "игрушечный" датафрейм из нескольких колонок и строк

In [59]:
df=pd.DataFrame({1:[1,2,3,4,5],2:[6,7,8,9,10]})
df

   1   2
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

### Задача 3
Распечатайте количество строк и колонок с помощью метода shape

In [12]:
df.shape

(5, 2)

### Задача 4
Добавьте новый столбец, состоящий из чисел (float or int)

In [60]:
df.insert(2,3,[21,23,24,21,20], True)
df

   1   2   3
0  1   6  21
1  2   7  23
2  3   8  24
3  4   9  21
4  5  10  20

### Задача 5
Распечатайте среднее арифмитическое по новому столбцу

In [36]:
df[1].mean()

3.0

### Задача 6
Создайте новый столбец, где значения будут в два раза больше, чем в предыдущем

In [61]:
#c=df[3].copy()
#c=c*2
df.insert(3,'new',df[3]*2, True)
df

   1   2   3  new
0  1   6  21   42
1  2   7  23   46
2  3   8  24   48
3  4   9  21   42
4  5  10  20   40